<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<!--<div th:insert="~{layout :: content}">-->
<h2 class="mb-4">User Management</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.vaiTro}"></td>
        <td>
            <a th:href="@{/admin/edit-user/{id}(id=${user.id})}" class="btn btn-warning btn-sm">Edit</a>
            <a th:href="@{/admin/delete-user/{id}(id=${user.id})}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-link">Đăng xuất</button>
</form>
<!--</div>-->
</body>
</html>