
<div th:fragment="footer">
    <footer class="text-center text-lg-start">
        <div class="container text-center text-md-start">
            <div class="row">
                <!-- Phần thông tin liên hệ -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold">Nine Shoes</h5>
                    <p><i class="fas fa-map-marker-alt"></i> 1234 Đường ABC, Quận XYZ, TP.Hà Nội</p>
                    <p><i class="fas fa-envelope"></i> contact@nineshoes.com</p>
                    <p><i class="fas fa-phone"></i> 1900 6680</p>
                </div>


                <!-- Về chúng tôi -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold footer-title" style="font-size: 17px">Về chúng tôi</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Thông tin</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                    </ul>
                </div>

                <!-- Chính sách khách hàng -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold footer-title" style="font-size: 17px;">Chính sách khách hàng</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Chính sách kiểm hàng</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Bảo mật thông tin</a></li>
                        <li><a href="#">Thanh toán - Giao hàng</a></li>
                    </ul>
                </div>


                <!-- Phần các biểu tượng mạng xã hội -->
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold footer-title" style="font-size: 17px;">Kết nối với chúng tôi</h5>
                    <div class="social-icons">
                        <a href="https://facebook.com" target="_blank" class="text-white"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://instagram.com" target="_blank" class="text-white"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com" target="_blank" class="text-white"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p style="font-size: 14px">&copy; 2025 Nine Shoes. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</div>
