<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    </script>
</head>

<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">
<!--Nội dung -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                        </svg>
                        SỬA NHÂN VIÊN
                    </h1>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!---filter-->

    <br>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <section class="content">
                                <div class="container">
                                    <form th:method="post" id="addForm" th:object="${nhanVien}"
                                          th:action="@{/nhan-vien/sua/{id}(id=${nhanVien.id})}"
                                          enctype="multipart/form-data"
                                          onsubmit="return validate(event);">

                                        <section class="content">
                                            <div class="row">
                                                <h1 class="text-center">Ảnh đại diện</h1>
                                                <p class="text-center text-danger fw-normal" id="errorAnh"></p>

                                                <!-- Ảnh đại diện căn giữa -->
                                                <div class="text-center">
                                                    <img id="uploadedImage"
                                                         th:src="@{/uploads/{imageName}(imageName=${nhanVien.hinhAnh})}"
                                                         class="img-fluid rounded-circle mx-auto d-block"
                                                         style="width: 150px; height: 150px; object-fit: cover; display: none;">
                                                </div>
                                            </div>

                                            <!-- Upload button căn giữa -->
                                            <div class="d-flex justify-content-center mt-3">
                                                <div class="file-input-wrapper">
                                                    <input type="file" id="fileInput" class="file-input" name="anh"
                                                           accept="image/png, image/jpeg">
                                                </div>
                                            </div>
                                        </section>
                                        <br>

                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Tên
                                                        nhân viên:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input placeholder="Tên nhân viên" id="inputTen" name="name"
                                                           th:field="*{tenNhanVien}" th:errorclass="is-invalid"
                                                           class="form-control">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorTen"></p>
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: #ffffff">* </span>Ngày
                                                        sinh:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input class="form-control" id="inputNgSinh"
                                                           type="date" th:field="*{ngaySinh}"
                                                           placeholder="dd/MM/yyyy" th:errorclass="is-invalid">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorNgSinh"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Căn
                                                        cước công dân:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input class="form-control" placeholder="Căn cước công dân"
                                                           id="inputCCCD" name="citizenID" th:field="*{cccd}"
                                                           th:errorclass="is-invalid"
                                                           th:attr="data-original=${nhanVien.cccd}, data-id=${nhanVien.id}">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorCCCD"></p>
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Giới
                                                        tính:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="radio" value="true" id="radioGT" th:field="*{gioiTinh}"
                                                           style="margin-top: 10px">Nam
                                                    <input type="radio" value="false" th:field="*{gioiTinh}"
                                                           style="margin-left: 10px;margin-top: 10px">Nữ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span
                                                            style="color: red">* </span>Email:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input class="form-control" id="inputEmail" placeholder="Email"
                                                           th:field="*{email}" th:errorclass="is-invalid"
                                                           th:attr="data-original=${nhanVien.email}, data-id=${nhanVien.email}">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;"
                                                       id="errorEmail"></p>
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Số
                                                        điện thoại:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input class="form-control" id="inputSdt"
                                                           placeholder="Số điện thoại" th:field="*{sdt}"
                                                           th:errorclass="is-invalid"
                                                           th:attr="data-original=${nhanVien.sdt}, data-id=${nhanVien.sdt}">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorSdt"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Tỉnh/Thành
                                                        phố:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control form-select form-select-sm mb-3"
                                                            id="city" th:field="*{tinh}" aria-label=".form-select-sm">
                                                        <option value="" selected>Chọn tỉnh thành</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorTinh"></p>
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Quận/Huyện:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control form-select form-select-sm mb-3"
                                                            id="district" th:field="*{quan}"
                                                            aria-label=".form-select-sm">
                                                        <option value="" selected>Chọn quận huyện</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;" id="errorQuan"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Xã/Phường:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control form-select form-select-sm"
                                                            id="ward" th:field="*{phuong}"
                                                            aria-label=".form-select-sm">
                                                        <option value="" selected>Chọn phường xã</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;"
                                                       id="errorPhuong"></p>
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Địa
                                                        chỉ cụ thể:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input class="form-control" th:field="*{diaChiCuThe}"
                                                           id="inputDuong" placeholder="Tên Đường"
                                                           th:errorclass="is-invalid">
                                                </div>
                                                <div class="col-auto">
                                                    <p style="color: red; font-weight: initial;"
                                                       id="errorDuong"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"><span style="color: red">* </span>Vai
                                                        trò:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="radio" value="ADMIN" id="radioVaitro"
                                                           th:field="*{vaiTro}" style="margin-top: 10px"
                                                           checked>Quản lý
                                                    <input type="radio" value="EMPLOYEE"
                                                           th:field="*{vaiTro}"
                                                           style="margin-left: 10px;margin-top: 10px">Nhân viên
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label"> <span
                                                            style="color: red">* </span>Trạng thái:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control form-select form-select-sm"
                                                            th:field="*{trangThai}" aria-label=".form-select-sm">
                                                        <option value="true" selected>Làm việc</option>
                                                        <option value="false">Nghỉ làm</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>

                                        <button type="submit" class="btn"
                                                style="margin-top: 20px;background-color: rgb(249,72,42);color: white">
                                            Lưu
                                        </button>
                                        <a type="button" class="btn btn-dark"
                                           style="margin-top: 20px; margin-left: 945px"
                                           th:href="@{/nhan-vien/hien-thi}">Thoát
                                        </a>

                                    </form>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            var opt = document.createElement('option');
            opt.value = x.Name;
            opt.text = x.Name;
            opt.setAttribute('data-id', x.Id);
            citis.options.add(opt);
        }
        citis.onchange = function () {
            districts.length = 1;
            wards.length = 1;
            if (this.options[this.selectedIndex].dataset.id != "") {
                const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                for (const k of result[0].Districts) {
                    var opt = document.createElement('option');
                    opt.value = k.Name;
                    opt.text = k.Name;
                    opt.setAttribute('data-id', k.Id);
                    districts.options.add(opt);
                }
            }
        };
        districts.onchange = function () {
            wards.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
            if (this.options[this.selectedIndex].dataset.id != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                for (const w of dataWards) {
                    var opt = document.createElement('option');
                    opt.value = w.Name;
                    opt.text = w.Name;
                    opt.setAttribute('data-id', w.Id);
                    wards.options.add(opt);
                }
            }
        };
    }
</script>

<script th:inline="javascript">
    var listNV = /*[[${listNV}]]*/ '[]';
    var listTK = /*[[${listTK}]]*/ '[]';
    console.log("Dữ liệu nhân viên:", listNV);
    console.log("Dữ liệu tài khoản:", listTK);
</script>

<!--check validate-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Đặt giá trị radio button mặc định
        document.getElementById("radioGT").checked = true;
        document.getElementById("radioVaitro").checked = true;

        var errorAnh = document.getElementById("errorAnh");
        var fileInput = document.getElementById('fileInput');
        var imgElement = document.getElementById('uploadedImage');

        fileInput.addEventListener('change', function (event) {
            var file = event.target.files[0];

            // 🔹 Reset trạng thái mỗi lần chọn ảnh mới
            var isAnhValid = true;
            errorAnh.innerText = "";
            imgElement.style.display = 'none';


            if (file) {
                // ✅ Kiểm tra kích thước tệp (dưới 1MB)
                const maxSize = 1024 * 1024; // 1MB
                if (file.size > maxSize) {
                    errorAnh.innerText = "Ảnh nhân viên không được quá 1MB!";
                    isAnhValid = false;
                }

                // ✅ Kiểm tra định dạng tệp (chỉ PNG hoặc JPG)
                const validFormats = ['image/png', 'image/jpeg'];
                if (!validFormats.includes(file.type)) {
                    errorAnh.innerText = "Ảnh nhân viên chỉ nhận định dạng PNG và JPG!";
                    isAnhValid = false;
                }

                // ✅ Nếu ảnh hợp lệ, hiển thị ngay lập tức
                if (isAnhValid) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        imgElement.src = e.target.result;
                        imgElement.style.display = 'block'; // Hiển thị hình ảnh
                    };
                    reader.readAsDataURL(file);
                }
            }
        });
    });


    function checkTrungCccd() {
        var cccdInput = document.getElementById('inputCCCD').value.trim();
        var originalCccd = document.getElementById('inputCCCD').getAttribute("data-original") || "";
        var currentId = document.getElementById('inputCCCD').getAttribute("data-id");
        console.log("CCCD nhập vào:", cccdInput);
        console.log("CCCD ban đầu:", originalCccd);
        console.log("ID hiện tại:", currentId);

        if (cccdInput === originalCccd) {
            console.log("✅ CCCD không thay đổi, hợp lệ!");
            return true; // Không thay đổi thì hợp lệ ngay
        }

        return !listNV.some(nv => nv.cccd === cccdInput && nv.id !== currentId);
        console.log("Kết quả kiểm tra trùng CCCD:", isDuplicate ? "❌ Trùng" : "✅ Không trùng");

    }

    function checkTrungSdt() {
        var sdtInput = document.getElementById('inputSdt').value.trim();
        var originalSdt = document.getElementById('inputSdt').getAttribute("data-original") || "";
        var currentId = document.getElementById('inputSdt').getAttribute("data-id");

        if (sdtInput === originalSdt) {
            return true;
        }

        return !listTK.some(tk => tk.sdt === sdtInput && tk.id !== currentId);
    }

    function checkTrungEmail() {
        var emailInput = document.getElementById('inputEmail').value.trim();
        var originalEmail = document.getElementById('inputEmail').getAttribute("data-original") || "";
        var currentId = document.getElementById('inputEmail').getAttribute("data-id");
        console.log("email nhập vào:", emailInput);
        console.log("email ban đầu:", originalEmail);
        console.log("email hiện tại:", currentId);
        if (emailInput === originalEmail) {
            console.log("✅ email không thay đổi, hợp lệ!");
            return true;
        }

        return !listTK.some(tk => tk.email.toLowerCase() === emailInput && tk.id !== currentId);
        console.log("Kết quả kiểm tra trùng email:", isDuplicate ? "❌ Trùng" : "✅ Không trùng");
    }

    function validate(event) {
        console.log("ID nhân viên hiện tại:", document.getElementById('inputCCCD').getAttribute("data-id"));

        let isValid = true;

        // Lấy giá trị từ input
        let tenNhanVien = document.getElementById("inputTen").value.trim();
        let ngaySinh = document.getElementById("inputNgSinh").value;
        let cccd = document.getElementById("inputCCCD").value.trim();
        let email = document.getElementById("inputEmail").value.trim();
        let sdt = document.getElementById("inputSdt").value;
        let city = document.getElementById("city").value;
        let district = document.getElementById("district").value;
        let ward = document.getElementById("ward").value;
        let diaChiCuThe = document.getElementById("inputDuong").value.trim();
        let anh = document.getElementById("fileInput").value;

        // Kiểm tra tên nhân viên
        let nameRegex = /^[A-Za-zÀ-ỹ\s]{2,50}$/; //cho phép tiếng Việt, dấu cách, không có ký tự đặc biệt
        if (tenNhanVien === "") {
            document.getElementById("errorTen").innerText = "Tên nhân viên không được để trống!";
            isValid = false;
        } else if (!nameRegex.test(tenNhanVien)) {
            document.getElementById("errorTen").innerText = "Tên nhân viên phải từ 2 đến 50 ký tự và không chứa ký tự đặc biệt!";
            isValid = false;
        } else {
            document.getElementById("errorTen").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra ngày sinh
        let ns = new Date(ngaySinh);
        let today = new Date();
        let tuoi = today.getFullYear() - ns.getFullYear();
        if (ngaySinh === "") {
            document.getElementById("errorNgSinh").innerText = "Vui lòng chọn ngày sinh!";
            isValid = false;
        }
        // Kiểm tra tháng và ngày để đảm bảo đủ 18 tuổi
        if (
            today.getMonth() < ns.getMonth() ||
            (today.getMonth() === ns.getMonth() && today.getDate() < ns.getDate())
        ) {
            tuoi--;
        } else if (tuoi < 18) {
            document.getElementById("errorNgSinh").innerText = "Nhân viên phải đủ 18 tuổi!";
            return false;
        } else {
            document.getElementById("errorNgSinh").innerText = "";
        }

        // Kiểm tra CCCD
        let regexCCCD = /^[0-9]{12}$/; // CCCD gồm 12 chữ số
        if (cccd === "") {
            document.getElementById("errorCCCD").innerText = "CCCD không được để trống!";
            isValid = false;
        } else if (!regexCCCD.test(cccd)) {
            document.getElementById("errorCCCD").innerText = "CCCD phải gồm 12 chữ số!";
            isValid = false;
        } else if (!checkTrungCccd()) {
            document.getElementById("errorCCCD").innerText = "CCCD đã tồn tại!";
            isValid = false;
        } else {
            document.getElementById("errorCCCD").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra Email
        let regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (email === "") {
            document.getElementById("errorEmail").innerText = "Email không được để trống!";
            isValid = false;
        } else if (!regexEmail.test(email)) {
            document.getElementById("errorEmail").innerText = "Email không hợp lệ!";
            isValid = false;
        } else if (!checkTrungEmail()) {
            document.getElementById("errorEmail").innerText = "Email đã tồn tại!";
            isValid = false;
        } else {
            document.getElementById("errorEmail").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra Số điện thoại
        let regexSdt = /^(0[35789])\d{8}$/;// Số điện thoại Việt Nam
        if (sdt === "") {
            document.getElementById("errorSdt").innerText = "Số điện thoại không được để trống!";
            isValid = false;
        } else if (!regexSdt.test(sdt)) {
            document.getElementById("errorSdt").innerText = "Số điện thoại không hợp lệ!";
            isValid = false;
        } else if (!checkTrungSdt()) {
            document.getElementById("errorSdt").innerText = "Số điện thoại đã tồn tại!";
            isValid = false;
        } else {
            document.getElementById("errorSdt").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra Tỉnh/Thành phố
        if (city === "") {
            document.getElementById("errorTinh").innerText = "Vui lòng chọn Tỉnh/Thành phố!";
            isValid = false;
        } else {
            document.getElementById("errorTinh").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }


        // Kiểm tra Quận/Huyện
        if (district === "") {
            document.getElementById("errorQuan").innerText = "Vui lòng chọn Quận/Huyện!";
            isValid = false;
        } else {
            document.getElementById("errorQuan").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra Xã/Phường
        if (ward === "") {
            document.getElementById("errorPhuong").innerText = "Vui lòng chọn Xã/Phường!";
            isValid = false;
        } else {
            document.getElementById("errorPhuong").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra địa chỉ cụ thể
        if (diaChiCuThe === "") {
            document.getElementById("errorDuong").innerText = "Vui lòng nhập địa chỉ cụ thể!";
            isValid = false;
        } else {
            document.getElementById("errorDuong").innerText = ""; // Xóa thông báo lỗi nếu hợp lệ
        }

        // Kiểm tra ảnh đại diện
        // if (anh === "") {
        //     document.getElementById("errorAnh").innerText = "Vui lòng chọn ảnh đại diện!";
        //     isValid = false;
        // }

        // Nếu có lỗi, ngăn form gửi đi
        if (!isValid) {
            event.preventDefault();
            return false;
        } else {
            Swal.fire({
                title: 'Bạn có muốn cập nhật không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });

                    setTimeout(function () {
                        document.getElementById("addForm").submit();
                    }, 500);
                }
            });
        }
        return false;
    }
</script>

</body>