<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Bán hàng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/BanHang.css">
</head>

<body>
<div th:replace="~{components/admin-sidebar :: sidebar}"></div>
<div class="page-wrapper">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 my-5">
                <div class="page-pretitle">
                    Admin
                </div>
                <h2 class="page-title">Bán hàng</h2>
                <button type="button" class="btn btn-primary mt-3" id="createInvoiceBtn">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="12" y1="5" x2="12" y2="19"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                    </svg>
                    Tạo đơn hàng
                </button>
            </div>
        </div>

        <div class="row row-equal-height">
            <div class="col-8">
                <div class="card equal-height">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin khách hàng</h3>
                    </div>
                    <div class="card-body border-bottom py-3">
                        <div class="input-icon mb-3">
                            <span class="input-icon-addon">
                              <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      class="icon"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                      stroke-width="2"
                                      stroke="currentColor"
                                      fill="none"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7"/>
                                <line x1="21" y1="21" x2="15" y2="15"/>
                              </svg>
                            </span>
                            <input type="text" class="form-control"
                                   placeholder="Tìm theo tên, sđt, mã khách hàng…" disabled/>
                        </div>
                        <div class="text-center text-secondary p-3">
                            <img style="width: 50px" class="mt-3" src="/icon/id_card_icon.png" alt="Id Card Icon">
                            <div class="mt-3">Chưa có thông tin khách hàng</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card equal-height">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách hóa đơn</h3>
                    </div>
                    <div class="card-body border-bottom py-3">
                        <div class="mb-3">
                            <div id="invoices" class="form-selectgroup"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin sản phẩm</h3>
                    </div>
                    <div class="card-body border-bottom py-3">
                        <div class="input-icon mb-3">
                            <span class="input-icon-addon">
                              <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      class="icon"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                      stroke-width="2"
                                      stroke="currentColor"
                                      fill="none"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7"/>
                                <line x1="21" y1="21" x2="15" y2="15"/>
                              </svg>
                            </span>
                            <input type="text" id="search-product" name="search-product" class="form-control"
                                   placeholder="Tìm theo tên sản phẩm…" disabled/>
                        </div>

                        <div id="suggestions" class="suggestions"></div>
                        <div class="table-responsive mt-3">
                            <table class="product-table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="7" class="text-center text-secondary">
                                        <img class="mt-3" src="/icon/empty_box_icon.png" alt="Empty Box Icon">
                                        <div class="mt-3">Chưa có sản phẩm nào được thêm</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="card-title">Thông tin thanh toán</h3>
                    </div>
                    <div class="card-body financial-info">
                        <div class="row financial-info-row">
                            <div class="col-9">
                                <div class="mb-3">
                                    <label class="form-label">Ghi chú đơn hàng</label>
                                    <textarea class="form-control" rows="3" id="input-note" disabled
                                              placeholder="VD: Hàng tăng cổ riêng"></textarea>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-8">Tổng tiền (<span id="count-product">X</span> sản phẩm)</div>
                                    <div class="col-4" id="tongTien">X</div>
                                </div>
                                <div class="row">
                                    <div class="col-8 text-muted">Phí giao hàng</div>
                                    <div class="col-4 text-muted">0</div>
                                </div>
                                <div class="row">
                                    <div class="col-8 text-muted">Mã giảm giá</div>
                                    <div class="col-4 text-muted">0</div>
                                </div>
                                <div class="row">
                                    <div class="col-8">Tổng</div>
                                    <div class="col-4" id="tong">X</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Đóng gói và giao hàng</h3>
                    </div>
                    <div class="m-3 form-selectgroup">
                        <label class="form-selectgroup-item">
                            <input type="radio" name="icons" value="Offline"
                                   class="form-selectgroup-input radio-order-type" checked/>
                            <span class="form-selectgroup-label">
                            <img width="24px" class="me-1" src="/icon/shoping_store_icon.png" alt="shoping_store_icon">
                            Khách nhận tại cửa hàng
                          </span>
                        </label>
                        <label class="form-selectgroup-item">
                            <input type="radio" name="icons" value="Có giao hàng"
                                   class="form-selectgroup-input radio-order-type"/>
                            <span class="form-selectgroup-label">
                            <img width="24px" class="me-1" src="/icon/delivery_icon.png" alt="">
                            Giao hàng
                          </span>
                        </label>
                    </div>
                    <div id="div-address" style="display: none">
                        <div class="card-header">
                            <h3 class="card-title">Địa chỉ giao hàng</h3>
                        </div>
                        <div class="p-3">
                            <!--Begin address-->
                            <div class="mb-3">
                                <label class="form-label">Tỉnh/Thành phố:</label>
                                <select id="province" class="form-select">
                                    <option value="">Chọn tỉnh/thành</option>
                                </select>
                                <small class="text-danger"></small>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Quận/Huyện:</label>
                                <select id="district" class="form-select" disabled>
                                    <option value="">Chọn quận/huyện</option>
                                </select>
                                <small class="text-danger"></small>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Xã/Phường:</label>
                                <select id="ward" class="form-select" disabled>
                                    <option value="">Chọn xã/phường</option>
                                </select>
                                <small class="text-danger"></small>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Địa chỉ cụ thể:</label>
                                <input id="address-detail" type="text" class="form-select">
                                <small class="text-danger"></small>
                            </div>
                            <!--End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3 d-flex align-items-center justify-content-end">
            <button class="btn btn-danger me-2" id="btnCancel" disabled>Hủy đơn</button>
            <button class="btn btn-primary" id="btnPayment" onclick="handlePayment()" disabled>Thanh toán</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/js/tabler.min.js"></script>
<script src="/js/BanHang.js"></script>
</body>

</html>